
<div>
  <select id="Quantity-{{ id }}"
  class="js-qty__num custom_qty"
  value="{{ qty }}"
  min="{{ min }}"
  aria-label="quantity"
  pattern="[0-9]*"
  name="quantity"
  >
    <option value="6">6 biscuits</option>
    <option value="12">12 biscuits</option>
    <option value="18">18 biscuits</option>
    <option value="24">24 biscuits</option>
    <option value="30">30 biscuits</option>
    <option value="36">36 biscuits</option>
    <option value="42">42 biscuits</option>
    <option value="48">48 biscuits</option>
    <option value="54">54 biscuits</option>
  </select>
</div>

<style>
  .product__quantity {
    width: 100%;
  }
  .custom_qty {
    background-image: url(//cdn.shopify.com/s/files/1/0275/8574/0913/t/4/assets/ico-select.svg);
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-color: transparent;
        background-size: 11px;
        padding-right: 28px;
        text-indent: 0.01px;
  }
</style>
